.container {
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.background {
    display: flex;
    height: 100vh;
    opacity: 0.4;
    position: absolute;
    width: 100%;
}
.content{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    position: relative;
}
.finder {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 40px;
}
.result {
    color: #FFFFFF;
    display: flex;
    margin: 20px 0;
}
.photo {
    border: 1px solid #85878a;
    border-radius: 100px;
    height: 150px;
    margin-right: 10px;
}
.profile {
    padding: 10px;
    margin-top: 20px;
    margin-right: 50px;
}
.profile h3 {
    font-size: 24px;
    margin: 0;
}
.profile span{
    color: #c9cbce;
    font-size: 12px;
    margin: 0;
}
.profile p {
    color: #c9cbce;
    font-size: 18px;
    margin: 10px 0 0 0;
}

.repo {
    color: #FFFFFF;
    font-size: 20px;
    margin: 12px 0;
    text-align: center;
}
.itemList {
    color: #539BF5;
    font-size: 18px;
    margin: 20px 0;
}
.itemList p {
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 12px;
}
input {
    background-color: transparent;
    border: 1px solid #85878a;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px;
    width: 80%;
}
button {
    background-color: #2D333B;
    border: 1px solid #b2b5bb;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 5px;
    padding: 10px;
}